/*
green: #C0CC00;
*/
*, *:hover, *:focus, *:active{
	outline: 0 !important;
}
.clearfix:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
}
.clearfix {
	display:inline-block;
}
.img-reponsive{
	width: 100%;
	height: auto;
}
html[xmlns] .clearfix {
	display:block;
}
* html .clearfix {
	height:1%;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}
body{
	margin: 0;
	position: relative;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	line-height: normal;
	font-size: 16px;
	font-feature-settings: "liga";
	text-rendering: optimizelegibility;
	background-color: #323232;
	color: #ffffff;
	text-rendering: optimizeLegibility;
	-moz-font-feature-settings: 'liga';
	-ms-font-feature-settings: 'liga';
	-webkit-font-feature-settings: 'liga';
	font-feature-settings: 'liga';
}
a{
	text-decoration: none;
	transition: all 300ms ease-in-out;
}
a:hover, a:focus{
	text-decoration: none;
}
ul{
	margin: 0;
	padding: 0;
}
ul li{
	list-style-type: none;
}
h1, h2, h3, h4, h5{
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	line-height: 1.2;
}
h2{
	font-size: 35px;
	color: #C0CC00;
	width: 100%;
	border-bottom: 10px solid #C0CC00;
	font-weight: normal;
	padding-bottom: 7px;
	margin: 0px 0 25px 0;
	font-weight: 300;
}
h3{
	font-size: 25px;
	color: #C0CC00;
	width: 100%;
	border-bottom: 5px solid #C0CC00;
	padding-bottom: 8px;
	margin: 25px 0 25px 0;
}
h3 span{
	font-weight: normal;
}
input, select{
	box-shadow: none;
	border: 1px solid #ffffff;
	border-radius: 3px;
	background-color: #ffffff;
	transition: all 300ms ease-in-out;
	padding: 2px 5px;
}
input:hover, select:hover{
	-webkit-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.5);
}
/*.content{
	position: absolute;
	top: 0;
	width: 100%;
}*/
.contw{
	background-color: rgba(255,255,255,0.3);
	position: relative;
}
.content{
	background-color: rgba(0,0,0,0.75);
	min-height: 650px;
	padding-bottom: 50px;
	padding-top: 22px;
}
.menutoggle{
	display: none;
	cursor: pointer;
}
.menuwrap{
	position: fixed;
	top: 0;
	z-index: 3;
	display: inline-block;
	width: 100%;
/*	background-color: #323232;
	background-color: rgba(0,0,0,0.8);*/
	background-color: #2c2d2e;
	height: 70px;
	padding: 10px 0;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
}
.menucontainer{
	margin: 0 auto;
}
.menu{
	float: left;
}
.menu>li{
	float: left;
	text-transform: uppercase;
	margin-right: 2px;
	padding-bottom: 20px;
	position: relative;
}
.menu li a, .fb{
	/*width: 165px;*/
	padding: 0 30px;
	line-height: 50px;
	height: 50px !important;
	height: auto;
	text-align: center;
/*	line-height: 45px;*/
	color: #ffffff;
	display: inline-block;
	font-size: 19px;
}
.fb{
	padding: 0 10px;
}
.menu li a.drpdwn .fa{
	display: none;
}
.menu li.acc a{
	padding: 0;
	width: 200px;
}
.menu li.todo a{
	padding: 0;
	width: 132px;
}
.menu>li>.fa-plus{
	display: none;
	cursor: pointer;
}
.menu>li>.fa-plus, .menu>li>.fa-minus{
	cursor: pointer;	
}
.menu>li.active>a, .menu>li>a:hover{
	background-color: #C0CC00;
}
.menu>li>ul a:hover, .fb:hover{
	background-color: #97a002;
}
.menu>li.active{
	border-bottom: 5px solid #C0CC00;
}
.menu>li.hovered a{
	background-color: #C0CC00; 
}
.menu>li>ul>li>a{
	background-color: #C0CC00;
}
.menu>li>ul>li{
	border-bottom: 1px solid #97a002;
	width: auto;
}
.menu>li>ul>li a span {
	line-height: 1.4;
	display: inline-block;
}
.menu>li ul{
	display: none;
	padding-top: 35px;
	position: absolute;
}
.lang{
	float: left;
	display: inline-block;
	text-transform: uppercase;
}
.lang li{
	display: none;
}
.lang:hover li{
	display: block;
}
.lang li.active{
	display: block;
	position: relative;
}
.lang li a{
	color: #ffffff;
	height: 50px;
	line-height: 50px;
	display: block;
	width: 40px;
	text-align: center;
	margin-bottom: 1px;
	cursor: pointer;
}
.lang:hover li a{
	background-color: #c0cc00;
}
.lang li a:hover{
	background-color: #97a002;
}
.fb{
	float: left;
}
.fb .fa{
	display: inline-block;
}
.fb .lg{
	display: none;
}
.carousel-container{
	position: fixed;
	height: 100%;
	width: 100%;
	margin-top: 70px;
}
.carousel, .slick-list, .slick-track{
	height: 100%;
	width: 100%;
}
.carousel-container .slide1, 
.carousel-container .slide2, 
.carousel-container .slide3, 
.carousel-container .slide4, 
.carousel-container .slide5, 
.carousel-container .slide6, 
.carousel-container .slide7, 
.carousel-container .slide8, 
.carousel-container .slide9{
	display: block;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}
/*.carousel-container .slide1{
	background-image: url('../images/slide1.jpg');
}
.carousel-container .slide2{
	background-image: url('../images/slide2.jpg');
}
.carousel-container .slide3{
	background-image: url('../images/slide3.jpg');
}
.carousel-container .slide4{
	background-image: url('../images/slide4.jpg');
}
.carousel-container .slide5{
	background-image: url('../images/slide5.jpg');
}*/
img.aggtnp{
	margin: 0 auto;
	display: block;
}

.inanutshell .slide1{
	background-image: url('../images/2C_UpperHouse_1.jpg');
}
.inanutshell .slide2{
	background-image: url('../images/2D_GardenPool_1.jpg');
}
.inanutshell .slide3{
	background-image: url('../images/2B_MiddleHouse_1.jpg');
}
.inanutshell .slide4{
	background-image: url('../images/2D_GardenPool_7.jpg');
}
.inanutshell .slide5{
	background-image: url('../images/2A_LowerHouse_1.jpg');
}
.inanutshell .slide6{
	background-image: url('../images/2C_UpperHouse_9.jpg');
}
.accomodation .slide1{
	background-image: url('../images/2A_LowerHouse_2.jpg');
}
.accomodation .slide2{
	background-image: url('../images/2A_LowerHouse_6.jpg');
}
.accomodation .slide3{
	background-image: url('../images/2B_MiddleHouse_2.jpg');
}
.accomodation .slide4{
	background-image: url('../images/2B_MiddleHouse_6.jpg');
}
.accomodation .slide5{
	background-image: url('../images/2C_UpperHouse_4.jpg');
}
.accomodation .slide6{
	background-image: url('../images/2C_UpperHouse_9.jpg');
}
.accomodation .slide7{
	background-image: url('../images/2D_GardenPool_2.jpg');
}
.accomodation .slide8{
	background-image: url('../images/2D_GardenPool_9.jpg');
}


.lowerhouse .slide1{
	background-image: url('../images/2A_LowerHouse_1.jpg');
}
.lowerhouse .slide2{
	background-image: url('../images/2A_LowerHouse_2.jpg');
}
.lowerhouse .slide3{
	background-image: url('../images/2A_LowerHouse_3.jpg');
}
.lowerhouse .slide4{
	background-image: url('../images/2A_LowerHouse_4.jpg');
}
.lowerhouse .slide5{
	background-image: url('../images/2A_LowerHouse_5.jpg');
}
.lowerhouse .slide6{
	background-image: url('../images/2A_LowerHouse_6.jpg');
}
.lowerhouse .slide7{
	background-image: url('../images/2A_LowerHouse_7.jpg');
}

.middlehouse .slide1{
	background-image: url('../images/2B_MiddleHouse_1.jpg');
}
.middlehouse .slide2{
	background-image: url('../images/2B_MiddleHouse_2.jpg');
}
.middlehouse .slide3{
	background-image: url('../images/2B_MiddleHouse_3.jpg');
}
.middlehouse .slide4{
	background-image: url('../images/2B_MiddleHouse_4.jpg');
}
.middlehouse .slide5{
	background-image: url('../images/2B_MiddleHouse_5.jpg');
}
.middlehouse .slide6{
	background-image: url('../images/2B_MiddleHouse_6.jpg');
}
.middlehouse .slide7{
	background-image: url('../images/2B_MiddleHouse_7.jpg');
}
.middlehouse .slide8{
	background-image: url('../images/2B_MiddleHouse_8.jpg');
}
.middlehouse .slide9{
	background-image: url('../images/2B_MiddleHouse_9.jpg');
}

.upperhouse .slide1{
	background-image: url('../images/2C_UpperHouse_1.jpg');
}
.upperhouse .slide2{
	background-image: url('../images/2C_UpperHouse_2.jpg');
}
.upperhouse .slide3{
	background-image: url('../images/2C_UpperHouse_3.jpg');
}
.upperhouse .slide4{
	background-image: url('../images/2C_UpperHouse_4.jpg');
}
.upperhouse .slide5{
	background-image: url('../images/2C_Upperhouse_5.jpg');
}
.upperhouse .slide6{
	background-image: url('../images/2C_UpperHouse_6.jpg');
}
.upperhouse .slide7{
	background-image: url('../images/2C_UpperHouse_7.jpg');
}
.upperhouse .slide8{
	background-image: url('../images/2C_UpperHouse_8.jpg');
}
.upperhouse .slide9{
	background-image: url('../images/2C_UpperHouse_9.jpg');
}

.gardenandpool .slide1{
	background-image: url('../images/2D_GardenPool_1.jpg');
}
.gardenandpool .slide2{
	background-image: url('../images/2D_GardenPool_2.jpg');
}
.gardenandpool .slide3{
	background-image: url('../images/2D_GardenPool_3.jpg');
}
.gardenandpool .slide4{
	background-image: url('../images/2D_GardenPool_4.jpg');
}
.gardenandpool .slide5{
	background-image: url('../images/2D_GardenPool_5.jpg');
}	
.gardenandpool .slide6{
	background-image: url('../images/2D_GardenPool_6.jpg');
}
.gardenandpool .slide7{
	background-image: url('../images/2D_GardenPool_7.jpg');
}
.gardenandpool .slide8{
	background-image: url('../images/2D_GardenPool_8.jpg');
}
.gardenandpool .slide9{
	background-image: url('../images/2D_GardenPool_9.jpg');
}

.bpapartment .slide1{
	background-image: url('../images/2E_BudapestCityApartment_1.JPG');
}
.bpapartment .slide2{
	background-image: url('../images/2E_BudapestCityApartment_2.JPG');
}
.bpapartment .slide3{
	background-image: url('../images/2E_BudapestCityApartment_3.JPG');
}
.bpapartment .slide4{
	background-image: url('../images/2E_BudapestCityApartment_4.JPG');
}
.bpapartment .slide5{
	background-image: url('../images/2E_BudapestCityApartment_5.JPG');
}

.econess .slide1{
	background-image: url('../images/2F_Econess.jpg');
}

.todo .slide1{
	background-image: url('../images/4A_Birdwatching_1.jpg');
}
.todo .slide2{
	background-image: url('../images/4B_CloseBy_2.jpg');
}
.todo .slide3{
	background-image: url('../images/4C_FurtherAway_3.jpg');
}

.inirota .slide1{
	background-image: url('../images/4A_InIrota_1.jpg');
}
.inirota .slide2{
	background-image: url('../images/4A_InIrota_2.jpg');
}
.inirota .slide3{
	background-image: url('../images/4A_InIrota_3.jpg');
}

.birdwatch .slide1{
	background-image: url('../images/4A_Birdwatching_1.jpg');
}
.birdwatch .slide2{
	background-image: url('../images/4A_Birdwatching_2.jpg');
}
.birdwatch .slide3{
	background-image: url('../images/4A_Birdwatching_3.jpg');
}

.birdwatch .slide1{
	background-image: url('../images/4A_Birdwatching_1.jpg');
}
.birdwatch .slide2{
	background-image: url('../images/4A_Birdwatching_2.jpg');
}
.birdwatch .slide3{
	background-image: url('../images/4A_Birdwatching_3.jpg');
}

.challenges .slide1{
	background-image: url('../images/4A_Challenges_1.JPG');
}
.challenges .slide2{
	background-image: url('../images/4A_Challenges_2.JPG');
}
.challenges .slide3{
	background-image: url('../images/4A_Challenges_3.JPG');
}

.irotahistory .slide1{
	background-image: url('../images/4A_HistoryIrota_1.jpg');
}
.irotahistory .slide2{
	background-image: url('../images/4A_HistoryIrota_2.jpg');
}
.irotahistory .slide3{
	background-image: url('../images/4A_HistoryIrota_3.jpg');
}

.closeby .slide1{
	background-image: url('../images/4B_CloseBy_1.JPG');
}
.closeby .slide2{
	background-image: url('../images/4B_CloseBy_2.jpg');
}
.closeby .slide3{
	background-image: url('../images/4B_Closeby_3.jpg');
}

.historyvalley .slide1{
	background-image: url('../images/4B_HistoryValley_1.JPG');
}
.historyvalley .slide2{
	background-image: url('../images/4B_HistoryValley_2.JPG');
}
.historyvalley .slide3{
	background-image: url('../images/4B_HistoryValley_3.JPG');
}

.furtheraway .slide1{
	background-image: url('../images/4C_FurtherAway_1.JPG');
}
.furtheraway .slide2{
	background-image: url('../images/4C_FurtherAway_2.jpg');
}
.furtheraway .slide3{
	background-image: url('../images/4C_FurtherAway_3.jpg');
}

.aboutus .slide1{
	background-image: url('../images/5_AboutUs.jpg');
}

.mansion .slide1{
	background-image: url('../images/5_Mansion_1.jpg');
}
.mansion .slide2{
	background-image: url('../images/5_Mansion_2.jpg');
}
.mansion .slide3{
	background-image: url('../images/5_Mansion_3.jpg');
}

.contact .slide1{
	background-image: url('../images/6_Contact&Route.JPG');
}

.next, .prev {
	position: fixed;
	top: 50%;
	margin-top: -17.5px;
	z-index: 2;
	font-size: 30px;
	color: #ffffff;
	transition: all 300ms ease-in-out;
}
.prev{
	left: 20px;
	text-shadow: 0px 1px 1px #000000;
}
.prev:hover{
	margin-left: -3px;
}
.next{
	right: 20px;
	text-shadow: 1px 1px 1px #000000;
}
.next:hover{
	margin-right: -3px;
}
.prev.lg, .next.lg{
	display: block;
}
.prev.sm, .next.sm{
	display: none !important;
}
/*.goup{
	width: 35px;
	height: 35px;
	line-height: 31px;
	font-size: 20px;
	background-color: #C0CC00;
	background-color: #323232;
	background-color: rgba(0,0,0,0.8);
	display: none;
	position: fixed;
	bottom: 15px;
	right:15px;
	color: #ffffff;
	border-radius: 4px;
	text-align: center;
	transition: all 300ms ease-in-out;
}
.goup:hover{
	line-height: 27px;
	color: #ffffff;
	cursor: pointer;
}*/
.goup{
	width: 60px;
	height: 60px;
	display: none;
	position: fixed;
	bottom: 30px;
	right: 30px;
	transition: all 300ms ease-in-out;
	background-image: url('../images/goup.png');
	background-repeat: no-repeat;
	background-position: left top;
	text-indent: -999px;
	cursor: pointer;
	background-size: contain;
	background-color: #ffffff;
	border-radius: 100px;
}
.goup:hover{
	bottom: 33px;
}
.goup.visb{
	display: block;
}
.logocont img{
	margin: 150px 0 100px 0;
}
.col-p{
	padding-left: 70px;
	padding-right: 70px;
}
.col-p p{
	line-height: 1.4;
}
p a{
	color: #C0CC00;
 text-decoration: underline;
}
szareffekt{
	text-decoration: underline;
}
p a:hover{
	background-color: #C0CC00;
	background-color: rgba(192,204,0,0.5);
	color: #ffffff;
	text-decoration: none;
	padding: 0 2px;
}
.btnbox{
	text-align: center;
}
.btnbox a{
	display: inline-block;
	height: 250px;
	width: 250px;
	position: relative;
}
.btnbox a img{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: auto;
}

.btnbox a img{
	transition: all 300ms ease-in-out;
}
.btnbox a img:last-child{
	opacity: 0;
}
.btnbox a:hover img:last-child{
	opacity: 1;
}
.bigbtn{
	float: right;
	display: inline-block;
	padding: 5px 7px 5px 10px;
	border: 2px solid #C0CC00;
	color: #C0CC00;
	text-transform: uppercase;
	transition: all 300ms ease-in-out;
}
.bigbtn:hover{
	background-color: #C0CC00;
	color: #ffffff;
}
.bigbtn span{
	display: inline-block;
	text-align: center;
}
.bigbtn i{
	margin-top: 1px;
	float: right;
	margin-left: 7px;
	margin-right: 3px;
	font-size: 30px;
	transition: margin 300ms ease-in-out;
}
.bigbtn:hover i{
	margin-left: 10px;
	margin-right: 0px;
	color: #ffffff;
}
.address i{
	content: " ";
	display: inline-block;
	min-width: 17px;
	color: #C0CC00;
}
.address span.big{
	color: #C0CC00;
	font-size: 23px;
	font-weight: 300;
}
.up{
	font-size: 10px;
	vertical-align: super;
	margin: 0 2px 0 1px;
}
/*footer{
	position: fixed;
	bottom: 0;
	display: block;
	padding: 20px 15px;
	width: 100%;
	background-color: #323232;
	background-color: rgba(0,0,0,0.8);
	content: "";
	display: block;
}
.up{
	position: absolute;
	top: -27px;
	left: 50%;
	margin-left: -27px;
	height: 53px;
	width: 54px;
	text-align: center;
	line-height: 53px;
	background-image: url(''../images/circle.png'');
	border-radius: 30px;
	background-color: #0e0e0e;
	cursor: pointer;
	font-size: 30px;
	color: #ffffff;
}
.hider{
	display: none;
}
footer ul li{
	float: left;
	margin-right: 10px;
}
footer ul li:last-child{
	margin-right: 0;
}
footer ul li a, .faceb{
	height: 53px;
	width: 54px;
	background-image: url(''../images/circle.png'');
	text-align: center;
	line-height: 53px;
	text-transform: uppercase;
	color: #ffffff;
	display: block;
	transition: all 300ms ease-in-out;
}
footer ul li a:hover, .faceb:hover{
	opacity: 0.5;
	color: #ffffff;
}
.faceb{
	float: right;
}
*/
/*--------------------------*/
/*  M E D I A Q U E R Y S  */
/*------------------------*/
@media (max-width:1199px) {
	.menu li a, .fb{
		padding: 0 20px;
		font-size: 17px;
	}
	.col-p{
		padding-left: 60px;
		padding-right: 60px;
	}
	.fb .fa{
		display: inline-block;
	}
	.fb .lg{
		display: none;
	}
}
/* ------------------------------------------------------------------------------------------------------ */
/* csak tablet felett */
/* md-alatt */
@media (max-width:991px) {
	.menu li a, .fb {
		padding: 0 20px;
		height: 40px !important;
		line-height: 40px;
	}
	.menu>li {
		padding-bottom: 20px !important;
	}
	.menuwrap{
		height: 60px;
	}
	.carousel-container{
		margin-top: 60px;
	}
	.menu li{
		font-size: 14px;
	}
	.menu>li{
		padding-bottom: 4px;
	}
	.menu li a {
		font-size: 14px;
		padding: 0 15px;
	}
	.menu li.acc a {
		width: 136px;
	}
	.menu li.todo a {
		width: 78px;
	}
	.lang{
		font-size: 14px;
	}
	.lang li a {
		height: 40px;
		line-height: 40px;
	}
}
/* ------------------------------------------------------------------------------------------------------ */
/* mid-small */
/*ms*/
@media (max-width: 767px) {
	.menuwrap {
		padding: 10px 15px;
	}
	.menucontainer{
		display: block;
	}
	.menu{
		display: none;
		position: absolute;
		top: 60px;
		margin-left: -15px;
		width: 100%;
		text-align: left;
		max-height: -moz-calc(100vh - 60px);
		max-height: -webkit-calc(100vh - 60px);
		max-height: calc(100vh - 60px);
		overflow-y: auto;
		overflow-x: hidden;
	}
	.menu li a .fa{
		display: inline-block;
		/*float: right;*/
		margin-left: 5px;
	}
	.menu>li>a.drpdwn{
		float: left;
	}
	.menu>li>a .fa-angle-down{
		display: none;
	}
	.menu>li>.fa-plus, .menu>li>.fa-minus{
		float: right;
		width: 60px;
		display: inline-block;
		text-align: center;
		padding: 5px 0 5px 0;
/*		background-color: rgba(0,0,0,0.9);*/
		border-bottom: 1px solid #fff;
		line-height: 25px;
		position: absolute;
		right: 0;
	}
	.menu li{
		float: none;
		clear: both;
		margin: 0;
		padding-bottom: 0px !important;
	}
	.menu li a{
		padding: 5px 20px 5px 20px;
		background-color: rgba(0,0,0,0.8);
		display: block;
		width: 100%;
		border-bottom: 1px solid #ffffff;
		text-align: left;
		line-height: 25px;
		height: auto !important;
	}
	.menu>li.acc a, .menu>li.todo a{
		padding: 5px 20px 5px 20px;
		width: 100%;
	}
	.menu>li.acc ul a, .menu>li.todo ul a{
		width: 100%;
		padding: 5px 20px 5px 30px;
	}
	.menu li.active{
		border-bottom: 0;
	}
	.menu>li ul {
		padding-top: 0;
		position: relative;
		border-bottom: 2px solid #ffffff;
		clear: both;
	}
	.menu>li>ul>li{
		border-bottom: 0;
		width: 100%;
	}
	.menu>li>ul>li a{
		padding: 5px 20px 5px 30px;
	}
	.menu>li>ul a:hover, .menu>li>ul>li>a{
		background-color: rgba(0,0,0,0.8);
	}
	.menutoggle{
		display: block;
		float: right;
		color: #ffffff;
		height: 40px;
		line-height: 40px;
		font-size: 18px;
	}
	.menutoggle .fa{
		vertical-align: middle;
	}
	.lang li a {
		line-height: 43px;
	}
/*	.fb .fa{
		display: none;
	}*/
/*	.fb .lg{
		display: inline-block;
	}*/
	.carousel-container{
		position: relative;
		height: 100vh;
/*		height: calc(100vh - 60px);*/
		height: 300px;
		margin-top: 60px;
	}
	.logocont{
		margin-top: -112px;
		text-align: center;
	}
	.logocont img {
		margin: 0 0 10px 0;
		height: 100px;
		width: 100px;
	}
	.prev.lg, .next.lg{
		display: none !important;
	}
	.prev.sm, .next.sm{
		display: block !important;
	}
	.prev, .next{
		position: absolute;
		top: 50%;
	}
	.prev{
		left: 10px;
	} 
	.next{
		right: 10px;
	}
	.col-p {
		padding-left: 15px;
		padding-right: 15px;
	}
	.goup{
		right: 10px;
	}

	.inanutshell .slide1{
		background-image: url('../images/mobilslider/2C_UpperHouse_1.jpg');
	}
	.inanutshell .slide2{
		background-image: url('../images/mobilslider/2D_GardenPool_1.jpg');
	}
	.inanutshell .slide3{
		background-image: url('../images/mobilslider/2B_MiddleHouse_1.jpg');
	}
	.inanutshell .slide4{
		background-image: url('../images/mobilslider/2D_GardenPool_7.jpg');
	}
	.inanutshell .slide5{
		background-image: url('../images/mobilslider/2A_LowerHouse_1.jpg');
	}
	.inanutshell .slide6{
		background-image: url('../images/mobilslider/2C_UpperHouse_9.jpg');
	}
	.accomodation .slide1{
		background-image: url('../images/mobilslider/2A_LowerHouse_2.jpg');
	}
	.accomodation .slide2{
		background-image: url('../images/mobilslider/2A_LowerHouse_6.jpg');
	}
	.accomodation .slide3{
		background-image: url('../images/mobilslider/2B_MiddleHouse_2.jpg');
	}
	.accomodation .slide4{
		background-image: url('../images/mobilslider/2B_MiddleHouse_6.jpg');
	}
	.accomodation .slide5{
		background-image: url('../images/mobilslider/2C_UpperHouse_4.jpg');
	}
	.accomodation .slide6{
		background-image: url('../images/mobilslider/2C_UpperHouse_9.jpg');
	}
	.accomodation .slide7{
		background-image: url('../images/mobilslider/2D_GardenPool_2.jpg');
	}
	.accomodation .slide8{
		background-image: url('../images/mobilslider/2D_GardenPool_9.jpg');
	}


	.lowerhouse .slide1{
		background-image: url('../images/mobilslider/2A_LowerHouse_1.jpg');
	}
	.lowerhouse .slide2{
		background-image: url('../images/mobilslider/2A_LowerHouse_2.jpg');
	}
	.lowerhouse .slide3{
		background-image: url('../images/mobilslider/2A_LowerHouse_3.jpg');
	}
	.lowerhouse .slide4{
		background-image: url('../images/mobilslider/2A_LowerHouse_4.jpg');
	}
	.lowerhouse .slide5{
		background-image: url('../images/mobilslider/2A_LowerHouse_5.jpg');
	}
	.lowerhouse .slide6{
		background-image: url('../images/mobilslider/2A_LowerHouse_6.jpg');
	}
	.lowerhouse .slide7{
		background-image: url('../images/mobilslider/2A_LowerHouse_7.jpg');
	}

	.middlehouse .slide1{
		background-image: url('../images/mobilslider/2B_MiddleHouse_1.jpg');
	}
	.middlehouse .slide2{
		background-image: url('../images/mobilslider/2B_MiddleHouse_2.jpg');
	}
	.middlehouse .slide3{
		background-image: url('../images/mobilslider/2B_MiddleHouse_3.jpg');
	}
	.middlehouse .slide4{
		background-image: url('../images/mobilslider/2B_MiddleHouse_4.jpg');
	}
	.middlehouse .slide5{
		background-image: url('../images/mobilslider/2B_MiddleHouse_5.jpg');
	}
	.middlehouse .slide6{
		background-image: url('../images/mobilslider/2B_MiddleHouse_6.jpg');
	}
	.middlehouse .slide7{
		background-image: url('../images/mobilslider/2B_MiddleHouse_7.jpg');
	}
	.middlehouse .slide8{
		background-image: url('../images/mobilslider/2B_MiddleHouse_8.jpg');
	}
	.middlehouse .slide9{
		background-image: url('../images/mobilslider/2B_MiddleHouse_9.jpg');
	}

	.upperhouse .slide1{
		background-image: url('../images/mobilslider/2C_UpperHouse_1.jpg');
	}
	.upperhouse .slide2{
		background-image: url('../images/mobilslider/2C_UpperHouse_2.jpg');
	}
	.upperhouse .slide3{
		background-image: url('../images/mobilslider/2C_UpperHouse_3.jpg');
	}
	.upperhouse .slide4{
		background-image: url('../images/mobilslider/2C_UpperHouse_4.jpg');
	}
	.upperhouse .slide5{
		background-image: url('../images/mobilslider/2C_Upperhouse_5.jpg');
	}
	.upperhouse .slide6{
		background-image: url('../images/mobilslider/2C_UpperHouse_6.jpg');
	}
	.upperhouse .slide7{
		background-image: url('../images/mobilslider/2C_UpperHouse_7.jpg');
	}
	.upperhouse .slide8{
		background-image: url('../images/mobilslider/2C_UpperHouse_8.jpg');
	}
	.upperhouse .slide9{
		background-image: url('../images/mobilslider/2C_UpperHouse_9.jpg');
	}

	.gardenandpool .slide1{
		background-image: url('../images/mobilslider/2D_GardenPool_1.jpg');
	}
	.gardenandpool .slide2{
		background-image: url('../images/mobilslider/2D_GardenPool_2.jpg');
	}
	.gardenandpool .slide3{
		background-image: url('../images/mobilslider/2D_GardenPool_3.jpg');
	}
	.gardenandpool .slide4{
		background-image: url('../images/mobilslider/2D_GardenPool_4.jpg');
	}
	.gardenandpool .slide5{
		background-image: url('../images/mobilslider/2D_GardenPool_5.jpg');
	}	
	.gardenandpool .slide6{
		background-image: url('../images/mobilslider/2D_GardenPool_6.jpg');
	}
	.gardenandpool .slide7{
		background-image: url('../images/mobilslider/2D_GardenPool_7.jpg');
	}
	.gardenandpool .slide8{
		background-image: url('../images/mobilslider/2D_GardenPool_8.jpg');
	}
	.gardenandpool .slide9{
		background-image: url('../images/mobilslider/2D_GardenPool_9.jpg');
	}

	.bpapartment .slide1{
		background-image: url('../images/mobilslider/2E_BudapestCityApartment_1.JPG');
	}
	.bpapartment .slide2{
		background-image: url('../images/mobilslider/2E_BudapestCityApartment_2.JPG');
	}
	.bpapartment .slide3{
		background-image: url('../images/mobilslider/2E_BudapestCityApartment_3.JPG');
	}
	.bpapartment .slide4{
		background-image: url('../images/mobilslider/2E_BudapestCityApartment_4.JPG');
	}
	.bpapartment .slide5{
		background-image: url('../images/mobilslider/2E_BudapestCityApartment_5.JPG');
	}

	.econess .slide1{
		background-image: url('../images/mobilslider/2F_Econess.jpg');
	}

	.todo .slide1{
		background-image: url('../images/mobilslider/4A_Birdwatching_1.jpg');
	}
	.todo .slide2{
		background-image: url('../images/mobilslider/4B_CloseBy_2.jpg');
	}
	.todo .slide3{
		background-image: url('../images/mobilslider/4C_FurtherAway_3.jpg');
	}

	.inirota .slide1{
		background-image: url('../images/mobilslider/4A_InIrota_1.jpg');
	}
	.inirota .slide2{
		background-image: url('../images/mobilslider/4A_InIrota_2.jpg');
	}
	.inirota .slide3{
		background-image: url('../images/mobilslider/4A_InIrota_3.jpg');
	}

	.birdwatch .slide1{
		background-image: url('../images/mobilslider/4A_Birdwatching_1.jpg');
	}
	.birdwatch .slide2{
		background-image: url('../images/mobilslider/4A_Birdwatching_2.jpg');
	}
	.birdwatch .slide3{
		background-image: url('../images/mobilslider/4A_Birdwatching_3.jpg');
	}

	.birdwatch .slide1{
		background-image: url('../images/mobilslider/4A_Birdwatching_1.jpg');
	}
	.birdwatch .slide2{
		background-image: url('../images/mobilslider/4A_Birdwatching_2.jpg');
	}
	.birdwatch .slide3{
		background-image: url('../images/mobilslider/4A_Birdwatching_3.jpg');
	}

	.challenges .slide1{
		background-image: url('../images/mobilslider/4A_Challenges_1.JPG');
	}
	.challenges .slide2{
		background-image: url('../images/mobilslider/4A_Challenges_2.JPG');
	}
	.challenges .slide3{
		background-image: url('../images/mobilslider/4A_Challenges_3.JPG');
	}

	.irotahistory .slide1{
		background-image: url('../images/mobilslider/4A_HistoryIrota_1.jpg');
	}
	.irotahistory .slide2{
		background-image: url('../images/mobilslider/4A_HistoryIrota_2.jpg');
	}
	.irotahistory .slide3{
		background-image: url('../images/mobilslider/4A_HistoryIrota_3.jpg');
	}

	.closeby .slide1{
		background-image: url('../images/mobilslider/4B_CloseBy_1.JPG');
	}
	.closeby .slide2{
		background-image: url('../images/mobilslider/4B_CloseBy_2.jpg');
	}
	.closeby .slide3{
		background-image: url('../images/mobilslider/4B_Closeby_3.jpg');
	}

	.historyvalley .slide1{
		background-image: url('../images/mobilslider/4B_HistoryValley_1.JPG');
	}
	.historyvalley .slide2{
		background-image: url('../images/mobilslider/4B_HistoryValley_2.JPG');
	}
	.historyvalley .slide3{
		background-image: url('../images/mobilslider/4B_HistoryValley_3.JPG');
	}

	.furtheraway .slide1{
		background-image: url('../images/mobilslider/4C_FurtherAway_1.JPG');
	}
	.furtheraway .slide2{
		background-image: url('../images/mobilslider/4C_FurtherAway_2.jpg');
	}
	.furtheraway .slide3{
		background-image: url('../images/mobilslider/4C_FurtherAway_3.jpg');
	}

	.aboutus .slide1{
		background-image: url('../images/mobilslider/5_AboutUs.jpg');
	}

	.mansion .slide1{
		background-image: url('../images/mobilslider/5_Mansion_1.jpg');
	}
	.mansion .slide2{
		background-image: url('../images/mobilslider/5_Mansion_2.jpg');
	}
	.mansion .slide3{
		background-image: url('../images/mobilslider/5_Mansion_3.jpg');
	}

	.contact .slide1{
		background-image: url('../images/mobilslider/6_Contact&Route.JPG');
	}

}
/* ------------------------------------------------------------------------------------------------------ */
/* mobil */
/*xs*/
@media (max-width:479px) {

}
/*mobil hamburger menu és logo nem érjen össze*/
@media (max-width:365px) {
	
}